
*{
    margin: auto;
    padding: 0;
}
.header{
    background-color: #eca5b5fd;
    
    width: 1920px;
    height: 850px;
}
.baner-contant{
    padding: 300px;
    padding-left: 230px
}
.banner{
    display: flex;
}
.header-img{
    width: 635px;
    height: 718px;
    padding-top: 50px;
	padding-right: 250px;
	position: relative;
}
.h1{
    font-size: 50px;
}
.swction-1{
    width: 594px;
    height: 132px;
    padding-top: 60px;
    text-align: center;
}
.div1{
    background-color: #eebbd4;
    width: 464px;
    height: 538px;
    border-radius: 250px 250px 0 0;
}
.div2{
    background-color: #b2e9ec;
    width: 464px;
    height: 538px;
    border-radius: 250px 250px 0 0;
}
.div3{
    background-color: #c7eea0;
    width: 464px;
    height: 538px;
    border-radius: 250px 250px 0 0;
}
.flower-img{
    width: 310px;
    height: 428px;
    padding-top: 110px;
	padding-left: 71px;
}
.flowers3{
    display: flex;
    padding: 0 200px;
}
.flowers3 h3{
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
}
.section2{
    background-color: #747171;
    margin-top: 180px;
    width: 1440px;
    height: 320px;
	display: flex;
	box-shadow: 25px 22px 50px #68696b;
}
.section2 div{
	text-align: center;
}
.section3{
	width:100%;
	height:620px;
	background-color: #eca5b5fd;
	display:flex;
	margin-top: 115px;
	padding-top: 65px;
}
.section3 h2{
	font-size: 40px;
}
.hotdeal{
	padding-left: 91px;
	width: 594px;
	height: 228px;
	text-align: center;
	padding-top: 100px;
}
.img{
	height:420px;
	width:318px;
	padding-right:90px;
}
.hotdeal h2{
	padding-bottom: 20px;
	
}
.section4{
	display:flex;
	width: 1440px;
	margin-top:180px;
}
.section5{
	text-align: center;
	background-color: antiquewhite;
	width: 1440px;
	height: 449px;
	margin-top: 100px;
	background-image: url("img/Rectangle 9.png");
	box-shadow: 15px 25px 40px 13px #68696b;

}
.Subscribe{
	padding-top: 135px;
}
.input{
	width:635px;
	height:64px;
}
.input2{
	width:150px;
	height:64px;
}
.Subscribe h3{
	margin-bottom: 33px;
	font-size: 40px;
}
.Subscribe p{
	margin-bottom: 33px;
}
.button{
	background-color: #E55473;
	width: 149px;
	height: 46px;
	border: 1px;
}
.button2{
	background-color: #E55473;
	width: 149px;
	height: 46px;
	border: 1px;
	margin-left: 14px;
}
.footer{
	background-color:#111010;
	color:white;
	text-align: center;
	width: 100%;
	height: 449px;
	margin-top: 90px;
}
.footer h2{
	font-size: 55px;
}
.cont{
	padding-top: 100px;
}
.footer .p{
	font-size: 20px;
padding-bottom: 12px;
}
.span{
	color: #E55473;
	padding-right: 10px;
}